.star {
  background-color: hsl(207, 18%, 22%);
  width: 55px;
  height: 55px;
  border-radius: 50px;
  text-align: center;
  position: relative;
  top: 40px;
  left: 40px;
}

img {
  height: 30px;
  width: 30px;
}
