.star {
  background-color: rgb(40, 50, 59);
  width: 55px;
  height: 55px;
  border-radius: 50px;
  text-align: center;
  position: relative;
  top: 40px;
  left: 40px;
}

.starImage {
  margin: 18px 10px 10px 11px;
}
